{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <h2 class="text-2xl md:text-3xl font-bold text-center mt-9 mb-6">
            Conheça nosso menu
        </h2>

        <div id="menu">
            <main class="mx-auto max-w-7xl px-2 mb-16">
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-7 md:gap-10 ">
                {% for lanche in lanches %}
                <li>
                    <div class="flex gap-2 w-full">
                        <div class="w-full">
                            <p class="font-bold">{{ lanche.nome }}</p>
                            
                            {% if lanche.nome == promocao_do_dia %}
                                <p class="text-sm text-red-500">Promoção do dia!!</p>
                            {% endif %}

                            <div class="flex items-center gap-2 justify-between mt-3">
                                <p class="font-bold text-lg">R$ {{ lanche.preco }}</p>
                                <button 
                                class="bg-gray-900 px-5 rounded add-to-cart-btn"
                                data-name="{{ lanche.nome }}"
                                data-price="{{ lanche.preco }}"
                                >
                                <i class="fa fa-cart-plus text-lg text-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </main>
        </div>
    </section>

    <section class="bg-black/60 w-full h-full fixed top-0 left-0 z-[99] items-center justify-center hidden"
    id="cart-modal"
    >

        <div class="bg-white p-5 rounded-md min-w-[90%] md:min-w-[600px]">
            <h2 class="text-center font-bold text-2xl mb-2">
                Meu carrinho
            </h2>

            <div id="cart-items" class="flex justify-between mb-2 flex-col"></div>
                
                <p class="font-bold">Total: <span id="cart-total">0.00</span></p>

                <p class="font-bold mt-4">Endereço de entrega:</p>
                <input type="text"
                placeholder="Digite seu Endereço completo..."
                id="address"
                class="w-full border-2 p-1 rounded my-1">
                <p class="text-red-500 hidden" id="address-warn">Digite seu enreço completo!</p>

                <div class="flex items-center justify-between mt-5 w-full">
                    <button id="close-modal-btn">Fechar</button>
                    <button id="checkout-btn" class="bg-green-500 text-white px-4 py-1 rounded">Finalizar Pedido</button>
                </div>
            
        </div>

    </section>
{% endblock content %}