{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container">
        <h2 class="titulo titulo_sobre">
            {{ nome_loja }}
        </h2>
        <h3 class="titulo subtitulo">
            Foi fundada em {{ ano_fundacao }}
        </h3>
    </div>
    <div class="container">
        <h2 class="titulo">
            Conheça nossos serviços
        </h2>

        <div class="cards">
            {% for p in produtos %}
                <div class="card">
                    <h3>{{ p.nome }}</h3>
                    <p>{{ p.descricao }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="titulo">
            Venha nos visitar
        </h2>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63433.185794538746!2d-38.32950078608781!3d-6.448685546846716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a4eca7902a0d19%3A0x1f1803ed8e70c71c!2sParan%C3%A1%20-%20State%20of%20Rio%20Grande%20do%20Norte!5e0!3m2!1sen!2sbr!4v1781305307768!5m2!1sen!2sbr" width="100%" height="450" style="border:0; text-align: center;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="endereco">
        Rua das Flores, 123<br>
        Centro<br>
        Paraná - RN
        </div>

    </div>

</section>
{% endblock content %}