{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Burgue - O melhor hambúrguer">
    <meta property="og:image" content="https://hamburgueria-eta-blue.vercel.app/assets/hamb-1.png">
    <meta property="og:description" content="O melhor hambúguer caseiro 100% suculento">
    <meta property="og:site_name" content="Burgue">
    
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>{% block title %} {{ nome_loja }} {% endblock title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}

    <!-- O autor desse html, css e js (de forma estática), originalmente, é o Lucas Gomes da Cruz, disponível em: 
     https://github.com/lucasgomesdacruz/Hamburgueria/blob/main -->
</head>
<body>
    <header class="w-full h-[420px] bg-zinc-900 bg-home bg-cover bg-center">
        <div class="w-full h-full flex flex-col justify-center items-center">
            <img src="{% static 'img/hamb-1.png' %}" alt="Logo Greek Burguer" 
            class="w-32 h-32 rounded-full shadow-lg hover:scale-110 duration-200"
            >
            <h1 class="text-4xl mt-4 mb-2 font-bold text-white">
                {{ nome_loja }}
            </h1>

            <span class="text-white font-medium">Rua Bem-vivida 15, Pau dos Ferros - RN</span>
            
            {% if loja_aberta == True %}

            <div class="bg-green-600 px-4 py-1 rounded-lg mt-5" id="date-span">
                
                <span class="text-white font-medium">
                    Estamos abertos!
                </span>
            </div>

            {% else %}

            <div class="bg-red-500 px-4 py-1 rounded-lg mt-5" id="date-span">
                <span class="text-white font-medium">
                    Fechado no momento...
                </span>
            </div>

            {% endif %}
        </div>
    </header>
    
    {% block content %}
    {% endblock content %}

    <footer class="w-full bg-red-500 py-3 fixed bottom-0 z-40 flex items-center justify-center">
        <button 
        class="flex items-center justify-center text-white font-bold"
        id="cart-btn"
        >
            (<span id="cart-count">0</span>)
            Veja meu carrinho
            <i class="fa fa-cart-plus text-lg text-white"></i>
        </button>
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>