{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

<div class="hero">

<h1>Cuidando de quem faz sua vida mais feliz!</h1>

<p>Banho, tosa, consultas veterinárias, acessórios e tudo para o seu melhor amigo.</p>

<a class="botao" href="/servicos/">Conheça nossos serviços</a>

</div>

<section>

<h2>Quem Somos</h2>

<br>

<p>
A Feliz Pet é um Pet Shop especializado no cuidado completo de cães e gatos.
Nossa equipe possui profissionais experientes, atendimento humanizado e produtos das melhores marcas para garantir saúde, conforto e felicidade aos animais.
</p>

</section>

<section>

<h2>O que nossos clientes dizem</h2>

<br>

<div class="cards">

<div class="card">
★★★★★
<p>"Meu cachorro saiu lindo da tosa. Atendimento excelente!"</p>
<b>Mariana</b>
</div>

<div class="card">
★★★★★
<p>"Ótimos preços e funcionários muito atenciosos."</p>
<b>João</b>
</div>

<div class="card">
★★★★☆
<p>"Ambiente limpo e veterinários muito competentes."</p>
<b>Camila</b>
</div>

</div>

</section>

</main>
{% endblock content %}