{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Pet Shop
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body>
    {% include 'partials/header.html' %}
    
    <div class="container">   
        {% include 'partials/navbar.html' %}

        {% block content %}
        {% endblock content %}
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>